body {
  margin: 0px;
  padding: 0px;
}

/* getting the sticky functionality */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}
.header_left {
  display: flex;
}
.header_left > img {
  object-fit: contain;
  height: 20px;
  margin-right: 10px;
}
.header_search {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  background-color: var(--input-color);
}
.header_search > input {
  border: none;
  outline: none;
  background: none;
}
.header_right {
  display: flex;
}
